
  <nav class = "navbar navbar-default">
	<div class ="container-fluid">
	    <div class = "row">
	    	 <!-- Make Navbar Collapse Later -->
		    <div class = "navbar header">
		    	<div class = "collapse navbar-collapse">
			    	<ul class = "nav navbar-nav">
			    		<li><a href = "mailto:hey@hereshannahs.info?subject=Hello!"><i class="fa fa-envelope"></i></a></li>
                        <li><a href = "https://twitter.com/hnsayshello"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href = "https://github.com/ninjaofawesome"><i class="fa fa-github-square"></i></a></li>
                        <li><a href = "http://anunorderedlistapart.tumblr.com/"><i class="fa fa-tumblr-square"></i></a></li>
                    </ul>
			    	</ul>
			    </div>
			</div>
</nav>

	 <div class = "col-md-6">
        <div class = "background-box">
            <h2 class="titleblock">Here's some of the things I've done</h2>
    	 	 <ul class ="accomplishment">
                <li ng-repeat="accomplishment in hannahsAccomplishments">
                    <div class = "event">{{accomplishment.achievement_name}}</div>
                    <div class = "details">{{accomplishment.achievement_info}}</div>
                </li>
                <button onclick="enable();" class="button-space2" id="#" type="submit">Close</button>
            </ul>
        </div>
	 </div>



<div class ="hello">
	<div class = "col-md-6 offset-4">	
       <div class = "row space">
            <form method = "POST" action="http://localhost:9393/about">
            <button onclick="disable();"class = "button-space spacer" id="clicky1" type="submit" value="about">Get To Know Me</button>
            <button onclick="disable();"class = "button-space" id="clicky2" type="submit" value="work">Get To Know My Work</button>
        </div>
	</div>
</div>


        </div> <!-- this closes the row -->
    </div>  <!-- this closes the container -->




