<div class = "col-md-6">
        <div class = "content box">
            <p><%= params.inspect %></p>
            <button class ="button">Close</button>
            <h1> This is your about View</h1>
        </div>
</div>
         
      

        