<div class = "col-md-6">
        <div class = "content box">
            <!-- <p>This is your column on the left</p>
            <button class ="button">Close</button> -->
        </div>
        <h2 class = "titlescript">Hello,  I'm</h1>
        <h1 class = "titleblock">Hannah Nordgren.</h1>
        <h2 class = "titlescript">I make things happen.</h2>
</div>
         
      

        