<div class ="container-fluid">
    <div class = "row">
        <div class = "col-md-6">
            <div class="hidden">
                <div class = "content box">
                    <p>This is your column on the left</p>
                    <button class ="button">Close</button>
                </div>
            </div>
            <h1>Hello</h1>
        </div>

        <div class = "col-md-6">
            <div class = "row">
                <div class= "col-md-12">
                    <h1>Stuff</h1>
                        <p>This is your column on the right</p>
                </div>
            <div class = "row">
                <div class = "col-md-12">
                    <label for "info">What would you like to know about me?</label>
                </div>
                <div class ="col-md-12">
                    <select class = "dropdown" id = "info" name="education">
                        <option class="professional" value="college">My Alma Mater(s)</option>
                        <option class="professional" value="career">My Work Experience</option>
                        <option class="professional" value="interests">My Technical Interests</option>
                        <option class="professional" value="languages">Programming Languages</option>
                    </select>
                </div>
                <div class = "col-md-12">
                    <label for="work">What Can I Show You?</label>
                </div>
                <div class = "col-md-12">
                    <select class= "dropdown" id = "work" name="flatiron">
                        <option class="portfolio" value="ruby">Airport</option>
                        <option class="portfolio" value="sinatra[0]">East Coast/West Coast</option>
                        <option class="portfolio" value="sinatra[1]">The Great Oracle</option>
                        <option class="portfolio" value="js">O'Reilly JS Overview</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>