<div class = "col-md-6">
    <div class="hidden">
        <div class = "content box">
            <p><%= @results.params %></p>
            <button class ="button">Close</button>
        </div>
    </div>
</div>
         
      

        