//variables
$background-color: red;

//general

body {
	background-color:$background-color;
	
}

.row {
	padding: 0 15px;
	margin: 0 -15px;
}

//Boxes

.hidden {
	background-color: blue;
	visibility: hidden;
}

//Buttons and Selection

.dropdown {
	background-color: green;
	// border-radius: none;
	border: 2px solid black;
	// padding: 2% 5%;
}

.shown {
	background-color: purple;
}
