body {
  background-color: red; }

.row {
  padding: 0 15px;
  margin: 0 -15px; }

.navbar-default {
  background-color: orange;
  border: yellow;
  height: 30px; }

.navbar-default .navbar-nav > li > a {
  color: white; }

.hidden {
  background-color: blue;
  visibility: hidden; }

.dropdown {
  background-color: green;
  border: 2px solid black; }

.shown {
  background-color: purple; }
