<!doctype html>
<html lang="en" ng-app="myportfolioApp">
<head>
  <meta charset="utf-8">
  <title>H A N N A H</title>
  <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/bootstrap/bootstrap.css"/>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css"/>
</head>
<body >

 <!--  Hello!  If you're inspecting this, you should reach out and say hello.  I'd love to hear from you!  hey@hereshannahs.info or @hnsayshello. -->

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
       <div class="navbar-header">
          <ul class = "nav navbar-nav">
            <li><a href= "https://github.com/ninjaofawesome"><i class="fa fa-github-alt fa-3x"></i></a></li>
            <li><a href= "https://twitter.com/hnsayshello"><i class="fa fa-twitter fa-3x"></i></a></li>
            <li><a href= "http://anunorderedlistapart.tumblr.com/"><i class="fa fa-tumblr fa-3x"></i></a></li>
          </ul>  
       </div>
    </div>
  </nav>

<div class = "row"  >

  <div class = "col-md-6">
    <div class = "background-box">

      <div class = "row" ng-controller="HannahWorkCtrl">
        <div class = "background-box-work">
          <ul ng-repeat="job in jobs">
            <li>
              <h1 class="work-title">{{job.name}}</h1>
                <h2 class = "work">{{job.company}}</h2>
                <p class = "work">{{job.date}}</p>
            </li>
          </ul>
        </div>
      </div>

      <div class = "row" ng-controller="HannahProjectsCtrl">
        <div class = "background-box-projects">
          <ul ng-repeat="project in projects">
            <li>
              <h1 class="projects-title">{{project.name}}</h1>
                <h2 class="projects">{{project.date}}</h2>
                <button id={{project.id}} class = "btn-primary-projects">Show More</button>
                <div class="projects-box" id={{project.number}}>
                  <p class="projects" id={{project.number}}>{{project.description}}
                    <br>
                    <a href="{{project.link}}" target= "_blank">Check It Out</a>
                    <br>
                    <button id={{project.hide}} class = "btn-primary-show-less">Show less</button>
                  </p>
                </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class = "col-md-6">
    <h2 class="intro-subtitle">Hello, I'm</h2>
    <h1 class="intro">Hannah Nordgren.</h1>

    <button id = "work-btn" class = "btn-primary">Get to know me</button>
    <button id = "projects-btn" class = "btn-primary">Get to know my work</button>
  </div>
</div>
  <!-- <div ng-view></div> -->


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/hide.js"></script>
  <script src="js/teaser.js"></script>
  <script src="js/goaway.js"></script>
</body>
</html>
