@font-face {
  font-family: 'Motion Picture';
  src: url("../fonts/motionpicture/motionpicture_personaluseonly-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/motionpicture/motionpicture_personaluseonly-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/motionpicture/motionpicture_personaluseonly-webfont.woff") format("woff"), url("../fonts/motionpicture/motionpicture_personaluseonly-webfont.ttf") format("truetype"), url("../fonts/motionpicture/motionpicture_personaluseonly-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Go Bold';
  src: url("../fonts/gobold/gobold_bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/gobold/gobold_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gobold/gobold_bold-webfont.woff") format("woff"), url("../fonts/gobold/gobold_bold-webfont.ttf") format("truetype"), url("../fonts/gobold/gobold_bold-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

body {
  background: url("../img/flatiron.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #f8fcff; }

.row {
  padding: 0 15px;
  margin: 0 -15px; }

.navbar-default {
  background-color: rgba(255, 0, 0, 0.5);
  border: yellow;
  height: 30px; }

.navbar-default .navbar-nav > li > a {
  color: white; }

.hidden {
  background-color: blue;
  visibility: hidden; }

.dropdown {
  background-color: green;
  border: 2px solid black; }

.shown {
  background-color: purple; }

.titlescript {
  font-family: 'Motion Picture', Helvetica, Arial, sans-serif;
  font-size: 300%;
  color: blue; }

.titlefont {
  font-family: 'Go Bold', Helvetica, Arial, sans-serif;
  font-size: 200%;
  color: red; }
