@font-face {
  font-family: 'turnpike';
  src: url("../fonts/turnpike/turnpike-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/turnpike/turnpike-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/turnpike/turnpike-webfont.woff") format("woff"), url("../fonts/turnpike/turnpike-webfont.ttf") format("truetype"), url("../fonts/turnpike/turnpike-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Pacifico';
  src: url("../fonts/pacifico/pacifico-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/pacifico/pacifico-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pacifico/pacifico-webfont.woff") format("woff"), url("../fonts/pacifico/pacifico-webfont.ttf") format("truetype"), url("../fonts/pacifico/pacifico-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

body {
  background: url("../img/hannah.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #dfe3e5; }

.row {
  padding: 0 15px;
  margin: 0 -15px; }

.navbar-default {
  background-color: rgba(248, 252, 255, 0.01);
  border: none;
  height: 30px; }

.navbar-default .navbar-nav > li > a {
  color: #052f6d; }

.background-box {
  min-height: 600px;
  background-color: #0f4dab; }

button {
  background-color: #052f6d;
  border: none;
  border: 2px solid #2b4b73;
  font-family: 'turnpike', Helvetica, Arial, sans-serif;
  font-size: 175%;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center; }

select {
  background-color: #052f6d;
  border: none;
  border: 2px solid #2b4b73;
  font-family: 'turnpike', Helvetica, Arial, sans-serif;
  font-size: 175%;
  -webkit-box-shadow: none;
  box-shadow: none; }

option {
  font-family: 'pacifico', Helvetica, Arial, sans-serif;
  background-color: red; }

.shown {
  background-color: purple; }

.titlescript {
  font-family: 'Pacifico', Helvetica, Arial, sans-serif;
  font-size: 300%;
  color: #dfe3e5; }

.titleblock {
  font-family: 'turnpike', Helvetica, Arial, sans-serif;
  font-size: 400%;
  font-weight: 900;
  color: #437dd4; }

a {
  color: #052f6d; }

a:hover {
  color: #0f4dab; }

a:focus {
  color: #437dd4; }

.accomplishment {
  list-style-type: none;
  font-family: 'turnpike', helvetica, arial, sans-serif; }

.space {
  margin: 25% 0 0 0; }

.dropdown-space {
  margin: 5% 0 0 0; }

.spacer {
  padding: 0 11%; }

.shady {
  background-color: red; }
