//variables
$dk-blue: #052f6d;
$dk-dusty-blue: #2b4b73;
$pop-blue: #0f4dab;
$lt-blue: #437dd4;
$pale-blue: #6a94d4;
$dk-gray: #6a6c6d;
$md-dk-gray: #7c7e7f;
$md-gray: #baddbf;
$lt-gray: #dfe3e5;
$pop-white: #f8fcff;
$cool-brown: #403826;
$warm-brown: #372710; 


@font-face {
	font-family: 'turnpike';
	src: url('../fonts/turnpike/turnpike-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/turnpike/turnpike-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/turnpike/turnpike-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/turnpike/turnpike-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/turnpike/turnpike-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	}

@font-face {
	font-family: 'Pacifico';
	src: url('../fonts/pacifico/pacifico-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/pacifico/pacifico-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/pacifico/pacifico-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/pacifico/pacifico-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/pacifico/pacifico-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	}





//general


body{
    background: url('../img/hannah.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    // font-size: 1em;
    color: $lt-gray;   
}

.row {
	padding: 0 15px;
	margin: 0 -15px;
}

//Nav-bar
.navbar-default {
	background-color: rgba(248, 252, 255, .01);
	border: none;
	height: 30px;
}

.navbar-default .navbar-nav > li > a {
	color: $dk-blue;
}

//Boxes

// .box {
// 	height: 100px;
// 	width: 100px;
// 	background-color: red;
// 	visibility: hidden;
// }

.background-box {
	
	min-height: 600px;
	background-color: $pop-blue;
}



//Buttons and Selection

select {
	background-color: $dk-blue;
	border: none;
	border: 2px solid $dk-dusty-blue;
	font-family: 'turnpike', Helvetica, Arial, sans-serif;
	font-size: 175%;
	 -webkit-box-shadow: none;
	          box-shadow: none;
	// padding: 2% 5%;
}

option {
	font-family: 'pacifico', Helvetica, Arial, sans-serif;
	background-color: red;
}


.shown {
	background-color: purple;
}

//fonts and links

.titlescript {
	font-family: 'Pacifico', Helvetica, Arial, sans-serif;
	font-size: 300%;
	color: $lt-gray;
}

.titleblock {
	font-family: 'turnpike', Helvetica, Arial, sans-serif;
	font-size: 400%;
	font-weight: 900;
	color: $lt-blue;
}

a {
	color: $dk-blue;
}

a:hover {
	color: $pop-blue;
}
a:focus {
	color: $lt-blue;
}

//spacing

.space {
	margin: 25% 0 0 0;
}
.dropdown-space {
	margin: 5% 0 0 0;
}

//cool javascript stuff

#shady {
	background-color: rgba(255, 0, 0, .5);
}
